<p id="notice"><%= notice %></p>

<h1>City Temp Date Joins</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>City</th>
      <th>Temp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_temp_date_joins.each do |city_temp_date_join| %>
      <tr>
        <td><%= city_temp_date_join.day %></td>
        <td><%= city_temp_date_join.city_id %></td>
        <td><%= city_temp_date_join.temp_id %></td>
        <td><%= link_to 'Show', city_temp_date_join %></td>
        <td><%= link_to 'Edit', edit_city_temp_date_join_path(city_temp_date_join) %></td>
        <td><%= link_to 'Destroy', city_temp_date_join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City Temp Date Join', new_city_temp_date_join_path %>
