<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @city_temp_date_join.day %>
</p>

<p>
  <strong>City:</strong>
  <%= @city_temp_date_join.city_id %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @city_temp_date_join.temp_id %>
</p>

<%= link_to 'Edit', edit_city_temp_date_join_path(@city_temp_date_join) %> |
<%= link_to 'Back', city_temp_date_joins_path %>
