<%= form_with(model: temp, local: true) do |form| %>
  <% if temp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp.errors.count, "error") %> prohibited this temp from being saved:</h2>

      <ul>
        <% temp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :temp_high %>
    <%= form.number_field :temp_high %>
  </div>

  <div class="field">
    <%= form.label :temp_mid %>
    <%= form.number_field :temp_mid %>
  </div>

  <div class="field">
    <%= form.label :temp_low %>
    <%= form.number_field :temp_low %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
