<p id="notice"><%= notice %></p>

<h1>Temps</h1>

<table>
  <thead>
    <tr>
      <th>High</th>
      <th>Med</th>
      <th>Low</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temps.each do |temp| %>
      <tr>
        <td><%= temp.high %></td>
        <td><%= temp.med %></td>
        <td><%= temp.low %></td>
        <td><%= link_to 'Show', temp %></td>
        <td><%= link_to 'Edit', edit_temp_path(temp) %></td>
        <td><%= link_to 'Destroy', temp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp', new_temp_path %>
