<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @temp.date %>
</p>

<p>
  <strong>Temp high:</strong>
  <%= @temp.temp_high %>
</p>

<p>
  <strong>Temp mid:</strong>
  <%= @temp.temp_mid %>
</p>

<p>
  <strong>Temp low:</strong>
  <%= @temp.temp_low %>
</p>

<p>
  <strong>City:</strong>
  <%= @temp.city_id %>
</p>

<%= link_to 'Edit', edit_temp_path(@temp) %> |
<%= link_to 'Back', temps_path %>
