<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @city_temp_date.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @city_temp_date.city_id %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @city_temp_date.temp_id %>
</p>

<%= link_to 'Edit', edit_city_temp_date_path(@city_temp_date) %> |
<%= link_to 'Back', city_temp_dates_path %>
